@trailer_btn_bg: #fc9900;
@arrow_bg: #123072;
@trailer_lnk: #17c55e;

.musicToggle {
    position: absolute;
    right: 33px;
    top: 100px;
    z-index: 10;
    width: 52px;
    height:49px;
    border: 4px solid rgba(255,255,255, 0.7);
    padding: 6px 0 0 2px;
    cursor: pointer;
    
    .border-radius(5px);
    .transition(border 300ms ease-out);
    }
  .musicToggle:hover {
    border-color: rgba(255,204,0, 0.8);

      .musicToggle_i {
        background: url('@{rootimg-path}/sound_h.png') no-repeat;
        }

      .musicToggle_i.sound_off {
        background-position: 0 bottom;
        }
    }

  .musicToggle_i {
    display: inline-block;
    width: 36px;
    height: 28px;
    background: url('@{rootimg-path}/sound.png') no-repeat;
    
    .transition(background 300ms ease-out);
    }

  .musicToggle_i.sound_off {
    background-position: 0 bottom;
    }

#features-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    }

  .features-ul {
      position: relative;
      left: 50%;
      margin-bottom: 0;
      width: 100%;

      @media (max-width: @screen-xs-max) {
        margin-left: -20px;
        }
        }

  .features_li {
      width: 36%;
      max-width:270px;
      margin: 0 5px;
      float: left;
      list-style-type: none;
      position: relative;
      z-index: 6;

      @media (max-width: @screen-xs-max) {
        width: 50%;
        margin: 0;
        }
      }

  .hoverToggle {
    cursor: default;
    text-decoration: none;

    .asideInfo__span:hover {
      color: @trailer_lnk;
      }
    }

  .features_li__focus.features_i{
    top: 0;
    opacity: 1;
    }

  .features_i {
    position: relative;
    top: 420px;
    left: 0;
    opacity: 0;
    height: 340px;
    padding-top: 1px;
    text-align: center;
    cursor: pointer;

    .transition(~"top 400ms ease-in, opacity 500ms ease-out");
    }

  .features_i.tralier_view {
    background: url('@{rootimg-path}/tralier_elf_bg.png') no-repeat 0 top;
    }
  .asideInfo {
    margin: 155px 15px 0 140px;
    text-transform: uppercase;
    text-align: right;

    @media (max-width: @screen-xs-max) {
      margin-right: 3%;
      }

      span {
        color: #fff;
        font-size: 18px;
        font-family: @basefont-black;

        .transition(color 200ms ease-in);

        @media (max-width: @screen-xs-max) {
          font-size: 125%;
          line-height: @headings-line-height - .1;
          }
        }
    }
  
  .asideInfo_hdr {
      color: #f0a62f;
      margin-top: 0;

      @media (max-width: @screen-xs-max) {
        font-size: 118%;
        margin-left: -12px;
        }
      }

  .featureTabHeader {
    background: rgba(243, 156, 18, .8);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    z-index: 11;
    margin: 0 0.4em;
    color: #fff;
    padding: 7px 0 11px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px darken(@trailer_lnk, 15%);
    letter-spacing: 0.1em;
    line-height: 20px;
    .border-radius(5px 5px 0 0);

     small {
      display: block;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      }
    }

  .featureTabHeader.trailer_button {
       background: url('@{rootimg-path}/trailer_tab.png') no-repeat 0 bottom;
       .transition(~"color 300ms ease-in-out, background 300ms ease-in-out");
       }

  .featureTabHeader.trailer_button:hover {
      -webkit-filter: brightness(130%);
      -webkit-filter: saturate(180%);
      filter: brightness(130%);
      filter: saturate(180%);
      text-shadow: 2px 2px 2px #257945;
      }

.banner_action {
    text-align: center;
    position: relative;
    top: 46%;
    z-index: 5;
    
    .banner_trailer__btn {
      background-color: @trailer_btn_bg;
      background-size: 1px 75px;
      width: 317px;
      height: 73px;
      border: 0;
      position: relative;
      font-size: @font-size-small * 2 + 2;
      text-transform: uppercase;
      text-indent: 20px;
      font-family: @basefont-bold;
      color: black;
      text-shadow: 1px 1px 0 ##ffe24a;

      #gradient.vertical(rgba(254, 208, 36, 0.5); rgba(255, 255, 255, 0); 0%; 100%;);
      .border-radius(40px);
      .transition(background-color 300ms ease-out);

        .viewTrailer_but {
        height: 55px;
        width: 55px;
        background: @gray-lighter;
        display: block;
        position: absolute;
        top: 9px;
        left: 10px;
        .border-radius(50%);
        #gradient.vertical(#fff; darken(@gray-lighter, 2%); 0%; 100%;);
        .transition(background 300ms ease-out);
        }

        .viewTrailer_but:after {
          content: "";
          position: relative;
          display: block;
          width: 21px;
          height: 37px;
          background: url('@{rootimg-path}/play_i.png');
          left: 21px;
          top: 10px;
          }
      }
    .banner_trailer__btn:hover {
      background-color: spin(@trailer_btn_bg, 8%);
      }
    
    .banner_trailer__btn:active {
      background-color: darken(@trailer_btn_bg, 5%);
      }
    .banner_trailer__btn:focus {
      outline: none;
      }
  }

  .arrowToShow {
    background-color: @arrow_bg;
    position: absolute;
    bottom:0;
    left: 50%;
    margin-left:-20px;
    z-index: 15;
    height: 40px;
    width:40px;
    padding: 11px 0 0 1px;

    .border-radius(5px 5px 0 0);
    .transition(~"bottom 150ms ease-out, background 250ms ease-out");
    }
    .arrowToShow:hover {
      background-color: lighten(@arrow_bg, 10%);
      }
    .arrowToShow:active {
      bottom: -3px;
      }

  .arrowToShow_i {
    display: inline-block;
    width: 25px;
    height: 15px;
    background: url('@{rootimg-path}/banner_arrow.png') no-repeat 0 bottom;
    }
    .arrowToShow_top .arrowToShow_i {
      background-position: 0 0;
      }