@heading-shadow: #0e2b66;
.front-page .intro_heading {
  letter-spacing: 0.05em;
  margin: 0.5em 0 .2em;
  }

.intro .lead {
  font-size: @font-size-base;
  line-height: @line-height-base - .2;
  }

.lead {
  font-size: @font-size-base + 2;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  }

.intro_heading {
  text-shadow: 1px 1px 3px @heading-shadow;
  text-transform: uppercase;
  color: @header-gold;
  letter-spacing: 0.2em;
  margin: 1em 0 .2em;
  position: relative;
  z-index: 10;

    @media (max-width: @screen-md-max) {
      font-size: @font-size-h1 - 2;
      }
    }

.frstLetter {
  font-size: @font-size-base + 4;
  }