.partners_center_col:before,
.partners_center_col:after {
	position: absolute;
	display:none;
	padding: 0 5px;
	float: left;
	content: "";
	height:30px;
	top: 32%;
	border-left: 2px solid @base-gray;

	@media (min-width: @screen-xs-max) {
		display:block;
		}
	}

.partners_center_col:before {
	left: -1%;
	}

.partners_center_col:after {
	right: -4%;
	}

.partners_logo {
	display: inline-block;
	margin: 1.8em 1em 1.5em;
	cursor: pointer;

	.filter(saturate(20%));
	.transition(all 500ms ease-in-out);

	@media (min-width: @screen-xs-max) {
		margin: 1em;
		}
	}

.partners_logo:hover {
	.filter(saturate(100%));
	}
.partners_logo:active {
	.filter(drop-shadow(1px 1px 3px #1b1b1b));
	}