.chars-tab-theme .tab-content {
	background: rgba(8, 33, 163, 0.4);
	padding: 25px 30px 15px;
	min-height: 350px;

	.border-radius(3px);

	.char-info {
		margin-bottom: 15px;
		}
	}

.tab-aside .thumbnail {
	max-width: 216px;

	@media (max-width: @grid-float-breakpoint) {
		margin: 0 auto;
		}
	}

.gallery-media .thumbnail {
	min-height: 220px;
	}

.info-ul {
	
	li b {
		color: white;
		display: inline-block;
		margin-left: 5px;
		}
	}

.characters-heroes .row:after,
.characters-heroes .row:before {
	clear: none;
	}