@thumb-hdr-bg: #00357b;

.char_imgvid {
	padding: 0 4%;
}

.thumbnail:hover .char_hdr{
	background: lighten(@thumb-hdr-bg, 15%);
	color: white;
	}

.thumbnail:active .char_hdr{

	.box-shadow(inset 0 2px 6px 0px darken(@thumb-hdr-bg, 1%));
	}

.char_hdr {
	background: @thumb-hdr-bg;
	font-family: @basefont-thin;
	font-size: @font-size-h3 - 3;
	color: @gray-lighter;
	text-align: center;
	line-height: 50px;
	height: 50px;
	margin: 0;

	.border-radius(3px);

	@media (max-width: @grid-float-breakpoint) {

		font-size: @font-size-h4;

		&.twoRows {
			padding-top: 6px;
			}
		}

	&.twoRows {
		line-height: @headings-line-height;
		padding-top: 2px;
		}
	}