.container {
	padding-left: 0;
	padding-right: 0;
}
.pro-main {
	text-transform: uppercase;
	text-align: center;
	}

.member-template {
	background: #000621;
	}

.pageHeader {
	height:196px;

	.pageHeader_hdr {
		background: rgba(45,21,8, .7);
		position: relative;
		top: 79px;
		width: 40%;
		margin: 0;
		padding-left: 2%;
		float: right;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: -39px;
			top:0;
			width: 0;
			height: 0;
			border-bottom: 39px solid rgba(45,21,8, .7);
			border-left: 39px solid transparent;
			}
		}

	.elfModel {
		background: url('@{rootimg-path}/downloads_bg.png') no-repeat;
		margin-left: 27%;
		width: 277px;
		height:196px;
		float: left;
		}
	}

#main-content {
		background-image: url('@{rootimg-path}/elf_left_bg.jpg'), url('@{rootimg-path}/elf_right_bg.jpg');
		background-position: -9em top, right top;
		background-repeat: no-repeat;
		background-color: #0f1837;
		.box-shadow(inset 0 0px 50px 10px #0b1120);

		@media (max-width: @screen-xs-max) {
			background-image:none;
			}
		}

.contact .inner_wrap {
	padding: 0;
	}

.inner_bg {
	padding: 1em 3em 3em;

	.transition(background 500ms ease-in);
	}

.inner_wrap {
	background: #000008 url('@{rootimg-path}/inner_bg.jpg') no-repeat center top;
	padding: 1em 3em 2em;
	min-height: 660px;

		@media (max-width: @screen-sm-max) {
			background-size: auto auto;
			}

	&.pageHeader_pad {
		padding-top: 2em;
		}

	.lnk {
		color: @header-gold;
		text-transform: lowercase;
		}
	}

.inner_wrap {

	.content-hdr {
		color: lighten(@inner_hdr, 10%);
		font-family: @basefont-thin;
		margin-top: 2em;
		}

	small {
		display: block;
		font-style: italic;
		text-transform: capitalize;
		color: @header-gold;
		margin-top: .5em;
		}
	p,
	ol{
		font-size: @font-size-small;
		font-family: Arial;
		}
	}

.ugrid {
	.make-row( 10px );
	padding-left: 0;
	margin-bottom: 0;

	.ugrid-col-5 {
		display: block;
		.make-xs-column( 4, 0 );
		.make-sm-column( 3, 0 );
		.make-md-column( 2.4, 0 );
		}
	&:after {
		clear: none !important;
		}
	}

.linear_hr {
	border-color: @hr-linear;
	}

@media (max-width: @screen-sm-max) {

	.primary-nav_inner {
		padding: 0;
		}
	}