.form-tmp {
	background: darken(@form_bg, 5%);
	border: 1px solid darken(@line_hdr, 10%);
	font-family: @basefont-thin;
	padding: 0 25px 15px;
	overflow: hidden;

	.border-radius(3px);
	.transition(all 500ms ease-in);

	@media (min-width: @screen-sm-min) {
		width: 55%;
		}

.checkbox .form_checkbox {
	position: relative;
	margin-left: 0;
	top: 2px;
	}

.form-control {
	display: inline-block;
	margin-bottom: 1em;
}

.form-hdr { margin-top: @line-height-computed }

label { text-transform: uppercase }

input { font-family: @basefont-bold }

.btn[type="submit"] {
	background-color: #0e2056;
	background-repeat: repeat-x;
    background-size: 1px 70px;
	text-transform: uppercase;
	margin-bottom: 20px;
	border: 0;
	
	.transition(background-color 300ms ease-out);
	#gradient.vertical(#1b4ca9; rgba(255, 255, 255, 0); 0%; 80%);
	}
		.btn[type="submit"]:hover {
			background-color: #1b4ca9;
			}
		.btn[type="submit"]:active {
			background-color: darken(@line_hdr, 20%);
			background: darken(@line_hdr, 1%);
			outline: none;
			}
	}

.form-contact {
	max-width: 500px;
	margin: 30px 0;
	}

.contact .inner_bg {
	background: url('@{rootimg-path}/contact_bg.png') no-repeat 90% bottom;

	@media (max-width: @screen-sm-max) {
		background-position: 110% bottom;
		}

	@media (max-width: @screen-xs-max) {
		background: none;
		}
	}

.btn-mrgTop {
	margin-top: 17px;
	}

.p_heading {
	text-align: center;
	margin: 3em 1em 2em;
	text-transform: uppercase;
	
	a {
		color: @header-gold;
		}
	}

.capcha_pic {
	margin-bottom: 1.2em;

	@media (min-width: @screen-md-min) {
		margin-left: -12px;
		}
	}