.downloads {

	.pageHeader {
		background-image: url('@{rootimg-path}/downloads_bg.jpg');
		background-repeat: no-repeat;
		background-position: 0% 0%;
		background-size: 100%;

		.transition(background 10s ease-in-out);

		&.move {
			background-position: 0 79%;
			background-size: 130%;
			}
		}
	}

.dwn_controls {
	margin-top: 10px;
	margin-bottom: -3px;

	.hovered_btn {

		@media (min-width: @grid-float-breakpoint) {
			padding-left: 0;
			}
		}

	.form-control {
		height: 18px;
		line-height: 30px;
		padding: 0px;
		font-size: 11px;
		border-color: @btn-bg_bottom;
		box-shadow: 0 0 0;
		border-radius: 0;
		}

	.btn-default {
		font-family: @basefont-bold;
		font-size: @font-size-small - 2;
		color: @gray-darker;
		vertical-align: top;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 @gray-lighter;
		border: 0;

		#gradient.vertical(@btn-bg_top; @btn-bg_bottom; 0%; 100%);

		@media (max-width: @grid-float-breakpoint) {
			display: block;
			margin: 8px auto 0;
			height: 18px;
		}

		&:hover {
			background: #fff none;
			color: black;
		}
	}
}