.footer {
  text-transform: uppercase;
  text-align: center;

  .footer_nav {
    background-color: #001641;
    overflow: hidden;
    padding: 1.5em 0 1.8em;
    }

  .footer_copy__txt {
    color: @footxt-color_2;
    margin-bottom: 0;
    font-size:@font-size-small - 1;
    }

  .footer_nav__i {
    display: inline-block;
    width:auto;
    border-right: 1px solid #8995A2;
    line-height: 11px;

    @media (max-width: @screen-xs-max) {
    border-right: 0;
    margin-bottom: 8px;
    line-height: 20px;
    display: block;
  }

    .header_gold {
      color: @header-gold;
      text-shadow: 0 0 0;
      }

    a {
      padding: .1em 10px .1em 3px;
      .transition(color 300ms ease-out);
      }

    a:hover {
      color: @gray-lighter;
      background: transparent;
      }
  }

  .footer_nav__i:last-child {
    border-right: 0;
    }
  }

.footer_nav__i a {
  color: #8995a2;
  }

.footer_copy {
  background: #000621;
  background-size: 100% 100%;
  padding: 2% 3%;

  @media (max-width: @screen-xs-max) {
    padding: 4% 10%;
    }
  }

.footer_dev {
  border-top-color: #34495e;
  margin: 0;
  }