@viewHdr_bg: #1a40a0;
.games {

	.view {
		max-width: 299px;
		min-height: 191px;
		margin-bottom: 20px;
		}

	.view-to-top .mask {
		-webkit-transform: translateY(145px);
				transform: translateY(145px);

		&:hover {
			transform: translateY(20px);
			}
		}
	}

.view {
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	padding: 0;
	min-height: 175px;
	text-align: left;

	@media (max-width: @screen-sm-max) {
		margin: 0 auto 20px;
		}

	.mask,
	.content {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.view_hdr {
	position: relative;
	background: @viewHdr_bg;
	padding: .7em 0 .7em 0.8em;
	font-size: @font-size-h4;
	margin: 0;
	color: #f4f4f4;
	.transition(background 100ms ease-in-out);
}

/* animation styles */
.view-to-top .mask {
	margin: 0;
	background-color: #f4f4f4;
	-webkit-transform: translateY(129px);
	transform: translateY(129px);
	opacity: 1;
	.transition(all 400ms ease-out);

	&:hover {
		transform: translateY(20px);

		.view_txt {
		// -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		// filter: alpha(opacity=100);
		opacity: 1;
	}

	.view_hdr {
		margin-bottom: 0;
		background: saturate(@viewHdr_bg, 60%);
		color: white;
	}
}

&:before {
	content: "";
	position: absolute;
	right: 30px;
	top: -8px;
	width: 0;
	height: 0;
	opacity: 1;
	visibility: visible;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	border-color: transparent transparent #1a40a0 transparent;
}

&:hover:before {
	opacity: 0;
	visibility: hidden;

	.transition(~'opacity 300ms ease-in-out, visibility 300ms ease-in-out');
}
}

.view_txt {
	opacity: 0;
	padding: 0 15px;
	color: #282928;
	letter-spacing: 0;
	line-height: 1.2em;
	margin: 10px 0 5px;
	font-family: Arial;
	font-size: @font-size-small;

	.transition(all 300ms ease-out);
}

.view_btnGroup {
	padding: 5px 15px 15px;
}

.share-i {
	background: url('@{rootimg-path}/share-i.png') no-repeat;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 5px;

	.square(25px);

		&:active {
			top: 1px;
		}
}