#page-header {
	background: url('@{rootimg-path}/header_base.jpg') repeat-x center 0;
	box-shadow: 0 4px 10px #080f2d;
	position: relative;

	@media (max-width: @screen-sm-max) {
		background-position: 35% 0;
		}
	}