@thmb_link-bg: #024582;

.side-column {

	@media (min-width: @screen-sm-max) {
		padding: 0;
		}
	}

.side-wrapper {
	background: ;
	padding: 6px;

	.border-radius(3px);

	#gradient.vertical(@body-bg; rgba(0, 0, 0, .7); 0%; 100%);
	}

.games_row {
	text-align: center;

	.thumbnail {
		display: inline-block;
		}
}

.news_aside {
	font-family: Arial;

	.thumbnail {
		overflow: hidden;
		margin-bottom: 0;
		}
		
	.thumbnail:hover,
	.thumbnail:focus,
	.thumbnail.active {
		background: transparent;
		border-color: transparent;
		}

		.thumbnail_lnk {
			background-color: @thmb_link-bg;
			display: block;
			padding: 3px;

				&:hover {
					background-color: lighten(@thmb_link-bg, 12%);
				}
		}

	a.thumbnail {

		@media (max-width: @screen-sm-max) {
			margin-right: 10px;
			float: left;
			clear: both;
			z-index: 100;
			}
		}

	p{
		font-size: @font-size-small;
		line-height: @headings-line-height;
		width: 108%;
		}
	}

.news_heading {
	font-size: @font-size-small;
	margin-bottom: 7px;
	text-transform: uppercase;
	}

.read_more{
		text-transform: inherit;
		color: @header-gold;

		&:hover {
			color: @header-gold;
			}
		}

hr{
	margin: 10px 0 15px;
	}