.logo_lnk {
  background: url('@{rootimg-path}/logo.png') no-repeat center top;
  background-size: cover;
  display: inline-block;
  width: 213px;
  height: 71px;
  position: absolute;
  top: 0;
  left: 2em;
  text-indent: -9999px;
  text-align: left;
  }