body.media { margin-top: 0; }

.nav-tabs.media-nav {
	border-bottom: 0;
	margin-bottom: 15px;

	.media-nav_lnk,
	.media-nav_lnk:hover {
		border-color: transparent;
		color: rgb(208, 213, 233);
		}

	.media-nav_lnk {
		background: transparent;
		margin-right: 15px;
		color: #87bde2;
		padding: 0;

			&:hover {
				color: #5ebaf9;
				}
		}
	.active .media-nav_lnk {
		background-color: transparent;
		border-color: transparent;
		border-bottom-color: #ff8c0f;
		border-width: 1px 1px 3px 1px;
		border-style: solid;
		color: #fff;
		}

	&._tabs {
		margin-top: -10px;
		}
	}

.showMeMore-wrapper {
	display: none;
	width: 100%;
	}

.thumbnail {
		position: relative;
		margin-bottom: 10px;

		.thumbnail_img {
			position: relative;
			cursor: pointer;
			display: block;
		}

		.action_i {
			background: transparent url('@{rootimg-path}/action_i.png') no-repeat;
			position: absolute;
			top: 50%;
			left: 50%;
			content: "";
			height:48px;
			width:48px;
			opacity: .5;
			margin-top: -24px;
			margin-left: -24px;
			border: 2px solid #fff;

			.border-radius(50%);
			.transition(~'background 400ms ease-out, opacity 400ms ease-out');

				&.__play {
					background-position: 12px center;
					}
				&.__zoom {
					background-position: -30px center;
					}
				&.__gallery {
					background-position: -74px center;
					}
			}

		.caption {
		padding:0 0 0.4em;
		margin: 0 1%;
		position: relative;

		._txt {
			text-transform: initial;
			line-height: @headings-line-height;
			font-family: @basefont-thin;
			color: white;

			.transition(color 400ms ease-out);
			}
		}
	}
	.thumbnail:hover .action_i {
		background-color: rgba(255,255,255, 0.3);
		opacity: 1;
		}

.media-gallery .thumbnail {
	min-height: 244px;
}

.media_hdr {
	color: @header-gold;
	margin: 10px 0 5px;
	text-transform: uppercase;

	.transition(color 400ms ease-out);
}

.thumbnail:hover,
.thumbnail.active {
	text-decoration: none;

	.thumb_hovered {
		visibility: visible;
		opacity: 1;
	}

	.media_hdr {
		color: @alter-dark-gray;
}
	._txt {
		color: @gray-darker;
		}
}

.thumb_hovered {
	opacity: 0;
	visibility: hidden;

	.transition(~'opacity 300ms ease-out, visibility 300ms ease-out');
}

.videoSingle {
	margin-bottom: 20px;
}

.formats {

	margin-top: 6px;

	@media (min-width: @grid-float-breakpoint) {
		position: absolute;
		right: -5px;
		bottom: 2px;
		margin-top: 0;
	}

	.formats_i {
		background: #04277c url('@{rootimg-path}/format_icon.png') no-repeat;
		display: inline-block;
		height:29px;
		width: 29px;
		margin-left: -2px;
		position: relative;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;

		.border-radius(50%);
		.transition(background 400ms ease-out);

		@media (max-width: @grid-float-breakpoint) {
			margin-left: 1px;
			}

			&.__win {
				background-position: 6px 5px;
			}
			&.__qtime {
				background-position: -28px 5px;
			}
			&.__hd {
				background-position: -60px 6px;
			}
			&.__zip {
				background-position: -88px 6px;
				right: 7px;
			}
			&:hover {
				background-color: #ff9515;
			}
		}
	}

.rateStars {
	position: relative;
	width: 75px;
	}
.rate_i {
	background: url('@{rootimg-path}/stars.png');
	display: block;
	height: 14px;
	}

.rate_i.__on {
	background-position: 0 bottom;
	position: absolute;
	left: 0;
	top: 0;
	}

.rate_1 {
	.__on {
		.rateStr(1);
		}
	}

.rate_2 {
	.__on {
		.rateStr(2);
		}
	}

.rate_3 {
	.__on {
		.rateStr(3);
		}
	}

.rate_4 {
	.__on {
		.rateStr(4);
		}
	}

.rate_5 {
	.__on {
		.rateStr(5);
		}
	}

.pagin-wrapper {
	position: relative;
	text-align: center;
	clear: both;
	}

.pagin_ul {
	position: relative;
	bottom: 0;
	z-index: 10;
	margin: 20px 0 0;

		li a {
			background: url('@{rootimg-path}/inner_bg.jpg') no-repeat 45% 45%;
			border: 1px solid lighten(@line_hdr, 2%);

			.transition(all 300ms ease-in);

				&:hover {
					background-color: #080B24;
					color: darken(@gray-lighter, 10%);
					border-color: lighten(@line_hdr, 12%);
					}
			}
	}

.pagin_hr {
	width: 100%;
	position: absolute;
	bottom: 4px;
	z-index: 1;
	}