.modal-dialog {
	width: 100%;
	height: 100%;
	margin:0;
	}

.modal-content {
	height: 100%;
	border-radius: 0;
	background: black;
	}
.modal-header {
	border-bottom: 0;
	position: relative;
	z-index: 10;

	.close {
		position: absolute;
		right: 15px;
		top: -4px;
		background: transparent;
		border: 0;
		color: rgb(243, 243, 243);
		font-weight: bold;
		font-size: 35px;
		}
	}

.modal_video {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	border: 0;
	}