@navbar-toolbar-bg: rgba(22, 113, 213, 0.6);
@navbar-dropmenu-bg: rgba(0, 53, 123, 1);

  #primary-nav {
    padding-top: 20px;
    margin-bottom: 0;
    border: 0;
    }

.navbar-nav {
  margin: 0;
  }

.navbar-collapse {
  background: @navbar-toolbar-bg;
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  visibility: hidden;
  padding: 0;
  .transition(~'max-height 600ms ease-in-out, min-height 600ms ease-in-out, visibility 600ms ease-in-out');

  .navbar_i {
    a {
      font-size: @font-size-base;
      color: @gray-lighter;
      padding: 10px 30px;
      text-shadow: 1px 1px 2px darken(@navbar-toolbar-bg, 50%);

      .transition(~'background 200ms ease-in-out, color 400ms ease-out');
      }
      > a {
        padding: 10px 13px;
        @media (max-width: @screen-sm-max) {
        text-indent: 8px;
        }
      }
    a:hover,
    a:focus {
      background: lighten(@navbar-toolbar-bg, 5%);
      color: @color-link-hover;
      }
    .header_gold {
      color: @header-gold;
      font-family: @basefont-black;
      }
    }
    .active a{
      background: darken(@navbar-toolbar-bg, 8%);
      color: lighten(@color-link-hover, 10%);
    }
  }

.navbar-collapse.open {
  min-height: 202px;
  max-height: 500px;
  visibility: visible;

  .transition(~'max-height 500ms ease-in, min-height 500ms ease-in, visibility 500ms ease-in');
  }

#headerNavbarCollapse .nav .open > a {
    background-color: @navbar-toolbar-bg;
    }

.navbar-toggle {
  background: @navbar-toolbar-bg;
  border: 1px solid @navbar-toolbar-bg;
  margin-bottom: 8px;
  margin-top: 0;
  padding: 8px;
  
  .box-shadow(0 0 1px darken(@navbar-toolbar-bg, 40%) inset);
  .transition(background 500ms ease-in-out);

  .icon-bar {
    background: @gray-lighter;
    }
  }

.navbar-toggle:hover,
.navbar-toggle.hovered {
  background: lighten(@navbar-toolbar-bg, 10%);
  }
.navbar-toggle:active {
  .box-shadow(0 1px 1px darken(@navbar-toolbar-bg, 30%) inset);
  }

.dropdown .dropdown-menu {
  background-color: @navbar-dropmenu-bg;
  padding: 0;
  min-height: 0;
  max-height: 0;
  height: 0;

  .transition(all 400ms ease-out);
  }

.open > .dropdown-menu {
  min-height: 120px;
  max-height: 600px;
  .transition(all 400ms ease-out);

  &.__two_it {
    min-height: 80px;
    }
  }

#socLinks {
  margin-bottom: 10px;
}

.socMenu {
  .socMenu_i {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url('@{rootimg-path}/social_icons.png') no-repeat;
    margin-left: 8px;
    border-radius: 50%;
    position: relative;

    .transition(all 400ms ease-in-out);
    }
  .socMenu_i:hover {
    -webkit-filter: saturate(160%);
    -moz-filter: saturate(160%);
    filter: saturate(160%);
    }
  .socMenu_i:active {
    .box-shadow(0 0 0);
    }
  .__fc {
    background-position: 14px center;
    background-color: #2653c0;
    .box-shadow(0 0 6px #2653c0);

    &:hover {
      .box-shadow(0 0 10px lighten(#2653c0, 20%));
      }
    }
  .__twr {
    background-position: -38px 6px;
    background-color: #02c6ff;
    .box-shadow(0 0 6px #02c6ff);

    &:hover {
      .box-shadow(0 0 10px lighten(#02c6ff, 20%));
      }
    }
  .__tw {
    background-position: -91px center;
    background-color: #ffc30c;

    .box-shadow(0 0 6px #ffc30c);

    &:hover {
      .box-shadow(0 0 10px lighten(#ffc30c, 20%));
      }
    }
  }