.media {
	font-family: Helvetica, Arial, sans-serif;
	& > .pull-left {
		margin-right: 20px;
		}
	}

.header_under {
	margin:4px 0 12px;
	}

.date span {
color: @gray-lighter;
font-size: @font-size-small;
display: block;

.date_time {
	color: lighten(@color-link-base, 19%);
	}
}

.show_more {
	margin: 2em 0;
	color: @gray-lighter;
	padding: 10px 12px;
	clear: both;

	&:hover {
		box-shadow: 0 0 1px @line_trans_hdr;

		.upd_ic {
			background-image: url('@{rootimg-path}/update_i_dark.png');
			}
		}
	}

.upd_ic {
	background: url('@{rootimg-path}/update_i.png') no-repeat;
	display: inline-block;
	height: 18px;
	padding-left: 25px;
	.transition(background-image 250ms ease-in);
	}

.btn-trans .upd_ic {
	background: url('@{rootimg-path}/update_i_dark.png') no-repeat;
	color: #485dab;
	}

.showMeMore-wrapper {
	.media {
		margin-top: 25px;
		}
	}

@media (max-width: @screen-xs-max) {
	.media-body {
		min-width: 150px;
		}
	.media > .pull-left {
		margin-bottom: 20px;
		}
	}