.front-banner {
    background:@body-bg url('@{rootimg-path}/tour_banner.jpg') no-repeat center top;
    background-size: auto 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;

    .box-shadow(0 19px 30px lighten(@base-foo-bg, 5%));

        .media__grid {
            @media (max-width: @screen-xs-max) {
                width: auto;
                }
            }
    }

    .video_wrapper {
        position: absolute;
        top: -50%;
        left: -50%;

        .square(200%);
        }

      #videobcg {
         position: absolute; 
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         margin: auto;
         min-width: 50%;
         min-height: 50%;
         z-index: 2;
         opacity: 1;
         overflow: hidden;
         visibility: visible;
         background-size: cover;

            &.hidden-vd-xs {
              @media (max-width: @screen-xs-max) {
                opacity: 0;
                visibility: hidden;
                }
              }
         }