@thumb-hdr-bg: #00357b;

.char_imgvid {
	padding: 0 4%;
	}

.thumbnail.charCol {
	border-color: transparent;
	.transition(all 300ms ease-out);
}

.thumbnail:hover {
	text-decoration: none;

	&.charCol {
		background: transparent;
	}

	.char_hdr{
		background: lighten(@thumb-hdr-bg, 15%);
		color: white;
		}
	}

.thumbnail:active .char_hdr{
	.box-shadow(inset 0 2px 6px 0px darken(@thumb-hdr-bg, 1%));
	}

.inner-txt .char_hdr {
	background: @thumb-hdr-bg;
	font-family: @basefont-thin;
	font-size: @font-size-h3 - 3;
	color: @gray-lighter;
	text-align: center;
	line-height: 50px;
	height: 50px;
	margin: 0;

	.border-radius(3px);

	@media (max-width: @grid-float-breakpoint) {

		font-size: @font-size-h4;

		&.twoRows {
			padding-top: 6px;
			}
		}

	&.twoRows {
		line-height: @headings-line-height;
		padding-top: 2px;
		}
	}

.caption.mask {
	padding-top: 0;
}

.joinBar {

	.btn {
		margin-top: 30px;
		text-transform: uppercase;
		font-size: @font-size-large + 4;
		font-family: @basefont-bold;
	}
}

.tooltip.top {
	.transition(opacity 350ms ease-in-out);
}

.tooltip-inner {
	padding: 8px 11px;
	text-shadow: 0px 1px 1px #012256;
	font-size: @font-size-base;
	font-family: @basefont-bold;
}