@main-content-bg: #0f1837;
.pro-main {
	text-align: center;
	text-transform: uppercase;
	}

.front-page {
	.pro-main {
		display: none;
		}

		#socLinks {
			top: 7px;
			}
		}

	.base-template #page-content {
		background-image: url('@{rootimg-path}/elf_left_bg.jpg'), url('@{rootimg-path}/elf_right_bg.jpg');
		background-position: -9em top, right top;
		background-color: @main-content-bg;
		background-repeat: no-repeat;

		.box-shadow(inset 0 0px 50px 10px darken(@main-content-bg, 6%));

		@media (max-width: @screen-xs-max) {
			background-image:none;
			}
		}

.inner-txt {
	background: black url('@{rootimg-path}/inner_bg.jpg') no-repeat center top;
	padding: 3em;
	min-height: 600px;

	@media (max-width: @screen-sm-max) {
		background-size: auto auto;
		}

	h1 {
		color: @header-dark-gold;
		}

	h3 {
		color: lighten(@inner_hdr, 10%);
		margin-top: 2em;
		font-family: @basefont-thin;
		}

	small {
		display: block;
		margin-top: .5em;
		color: @header-dark-gold;
		text-transform: capitalize;
		font-style: italic;
		}
	p,
	ol {
		font-family: Arial;
		font-size: @font-size-small + 1;
		}
	li {
		margin-bottom: 1em;
		}
	}

.media__grid {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEElEQVQIW2NkwAIYqS/oAwAB8ABSfZ+36AAAAABJRU5ErkJggg==);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;

	.square(100%);
	}

.ugrid {
	.make-row( 10px );
	padding-left: 0;
	margin-bottom: 0;

	.ugrid-col-5 {
		display: block;
		.make-xs-column( 4, 0 );
		.make-sm-column( 3, 0 );
		.make-md-column( 2.4, 0 );
		}
	&:after {
		clear: none !important;
		}
	}

.lnk {
	color: saturate(@color-link-hover, 5%);
	text-transform: inherit;

		&:hover {
			color: lighten(@color-link-hover, 7%);
			}
	}

@media (max-width: @screen-sm-max) {

	.base-template {

		.primary-nav_inner {
			padding: 0;
			}

		.logo_lnk {
			left: 1.5em;
			}
	}
}