.form-contact {
	max-width: 500px;
	margin: 30px 0;
	}

.inner_txt.contact-page {
	padding-bottom: 0;
	}

.inner-bg {
	background: url('@{rootimg-path}/contact_bg.png') no-repeat 90% bottom;
	overflow: hidden;

	.transition(background 500ms ease-in);

	@media (max-width: @screen-sm-max) {
		background-position: 110% bottom;
		}

	@media (max-width: @screen-xs-max) {
		background: none;
		}
	}

.btn-mrgTop {
	margin-top: 17px;
	}

.p_heading {
	text-align: center;
	margin: 3em 1em 2em;
	text-transform: uppercase;

	a {
		color: @header-gold;
		}
	}

.capcha_pic {
	margin-bottom: 1.2em;

	@media (min-width: @screen-md-min) {
		margin-left: -12px;
		}
	}