.front-page {
  #page-footer {

    .footer_copy {
      background:url('@{rootimg-path}/footer.jpg') no-repeat center 0;
      background-size: 100% 100%;
      padding: 2em 5em;
      }

    .footer_copy__txt {
      color: @gray-lighter;
      }

    .footer_nav {
      background-color: @front-foo-bg;
      padding:.8em 0;
      }

    .footer_nav__i {

      .header_gold {
        color: @header-gold;
        }
    }
    .lnk {
        color: saturate(@color-link-hover, 5%);
        }
  }
}

#page-footer {
  text-transform: uppercase;
  text-align: center;

  .footer_nav__i {
    display: inline-block;
    width:auto;
    line-height: @headings-line-height - 0.3;
    border-right: 1px solid @base-gray;

    @media (max-width: @screen-xs-max) {
      border-right: 0;
      margin-bottom: 8px;
      line-height: 20px;
      display: block;
      }

    a {
      color: @base-gray;
      padding: .1em 10px .1em 3px;

      .transition(color 300ms ease-out);
      }

    a:hover {
      background: transparent;
      color: lighten(@base-gray, 20%);
      }

    .header_gold {
      color: @header-dark-gold;
      font-family: @basefont-bold;
      text-shadow: 1px 1px 2px darken(@header-dark-gold, 40%);
      }
  }

    .header_gold:hover {
      text-shadow: 0 0 0;
      }

  .footer_nav__i:last-child {
    border-right: 0;
    }

    .lnk {
      color: darken(@gray-lighter, 10%);
      text-transform: uppercase;
      }
}

.footer_nav {
    background-color: @base-foo-bg;
    padding: 1.5em 0 1.8em;
    overflow: hidden;
    }

.footer_copy {
  background: @copyright-bg;
  background-size: 100% 100%;
  padding: 1% 3%;

  @media (max-width: @screen-xs-max) {
    padding: 4% 10%;
    }
  }

  .footer_copy__txt {
    color: @footxt-color_2;
    margin-bottom: 0;
    font-size:@font-size-small - 1;
    }

.footer_dev {
  border-top-color: @footer-dev;
  margin: 0;
  }