.front-page {

  #page-header {
    background: url('@{rootimg-path}/header_front.png') no-repeat center 0;
    background-size: 100% 89px;
    position: absolute;
    z-index: 10;
    width: 100%;
    }
  }

.base-template {
  #page-header {
    background: url('@{rootimg-path}/header_base.jpg') repeat-x center 0;

    @media (max-width: @screen-sm-max) {
      background-position: 35% 0;
      }
    }
  }

.pageBanner_wrapper {
    overflow: hidden;
    position: relative;

    .pageBanner_hdr {
        background: @pagehdr_bg;
        color: @header-gold;
        width: 38%;
        margin-top: 0;
        padding-left: 2%;
        position: absolute;
        top: 125px;
        right: 0;
        z-index: 10;

        .transition(~'width 300ms ease-out, top 300ms ease-out');

        @media (max-width: @screen-xs-max) {
            width: 100%;
            padding-right: 2%;
            text-align: right;
            top: 0;
            }

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: -39px;
            top:0;
            width: 0;
            height: 0;
            border-bottom: 39px solid @pagehdr_bg;
            border-left: 39px solid transparent;
            }
        }

    .pageBanner_img {
        position: relative;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 195px;
            width: 100%;
            z-index: 1;

            .box-shadow(inset 0 2px 3px @gall_info);
            }
        }

    .moveimg {
        position: absolute;
        right: 0;

        .animation(move 21s ease-in-out alternate infinite);
        }

    .keyframes(move, {
        .ken_burns(1.0; 220px,-345px);
    },
    {
        .ken_burns(0.82; 248px,-315px);
        });

    .elfModel {
        position: relative;
        min-height: 175px;
        float: left;
        left: 20%;
        z-index: 3;

            @media (min-width: @screen-lg-min) {
                left: 30%;
            }

            @media (max-width: @screen-xs-max) {
            left: 8%;
            }
        }
    }