.join-page {
	background:@copyright-bg url('@{rootimg-path}/join_bg.jpg') no-repeat center top;
	text-align: center;
	}

.joinGroup {
	margin-bottom: 60px;
	}

.purchase_a {
	background: url('@{rootimg-path}/join_group_bg.png') no-repeat right 1px;
	color: @header-gold;
	display: block;
	max-width: 421px;
	height: 72px;
	margin: 0 auto 10px;
	border: 0;
	
	.border-radius(7px);
	.transition(~'background 300ms ease-out, border 300ms ease-out, color 300ms ease-out');
	}
	.purchase_a:hover .purchase_price{
		color: @header-gold;
		}
	.purchase_a:active {
		background: url('@{rootimg-path}/join_group_bg.png') no-repeat right 1px;
		color: darken(@header-gold, 10%);
		}

	.purchase_hdr {
		font-family: @basefont-black;
		font-size: @font-size-large - 1;
		margin: 11px 0 0 0;
		}

	.purchase_txt {
		font-size: @font-size-small;
		text-transform: lowercase;
		}

	.purchase_price {
		font-family: @basefont-thin;
		font-size: @font-size-large + 12;
		line-height: 60px;
		display: inline-block;
		text-indent: 22px;
		color: @gray-lighter;

		.transition(color 300ms ease-out);
		}

	.joinThumbs {
		margin: 1.5% auto 2%;
		max-width: 990px;
		}

	.joinThumbs img{
		width: 100%;
		}

	.joinThumbs_row {
		position: relative;
		}

.joinThumbs_col {

	.transition(all 500ms ease-in);
}

.txtDev {
	min-width: 200px;
	max-width: 480px;
	border-top: 2px solid #173874;
	margin: .7em auto .5em;
	}

.hdr {
	font-size: @font-size-base + 1;
	letter-spacing: 0.13em;
	}

.gld_lnk,
.gld_lnk:hover {
	color: @header-gold;
	}

.lead.__1 {
	font-size: @font-size-large - 1;
	}

@media (max-width: @screen-sm-max) {
	.joinThumbs_row {
		max-width: 484px;
		margin: 0 auto;
		}

	.joinThumbs_col {
		margin-bottom: 2%;
		padding: 0 1%;
		}
		
	.joinGroup_price {
		text-indent: 0;
		}
}