#thankYouForm,
#loginForm {
	margin-top: 5em;
	}

#thankYouForm.form-tmp {
	width: 65%;
	}

.form-tmp {
	background: darken(@form_bg, 5%);
	border: 1px solid darken(@line_hdr, 10%);
	font-family: @basefont-thin;
	padding: 0 25px 15px;
	overflow: hidden;

	.border-radius(3px);
	.transition(all 500ms ease-in);

	@media (min-width: @screen-sm-min) {
		width: 55%;
		}

	label .form_checkbox {
		position: relative;
		margin-left: 0;
		top: 2px;
		}

	.form-control {
		margin-bottom: 1em;
		display: inline-block;
		}

	.form-hdr {
		margin-top: @line-height-computed;
		}

	label {
		text-transform: uppercase;
		}

	input {
		font-family: @basefont-bold;
		}

	.btn {
		margin-bottom: 20px;
		border: 0;
		}
	}