.front-page {

  .logo_lnk {
    position: absolute;
    top: 10px;
    left: 0;
    }
  }

.join-page {

  .logo_lnk {
    position: relative;
    top: 17px;
    left: -5px;
    }
  }

.logo_lnk {
  background: url('@{rootimg-path}/logo.png') no-repeat center top;
  background-size: cover;
  display: inline-block;
  width: 213px;
  height: 71px;
  position: absolute;
  left: 2em;
  top: 0;
  text-indent: -9999px;
  text-align: left;
  }