@nav-color: #5ebaf9;
@gall-color: #153088;
@gall_info: rgba(15, 28, 50, .6);
@pagehdr_bg: rgba(45,21,8, .7);

.media-nav {
    margin-top: 8px;
    padding-left: 18px;
    float:left;

    li {
        float: left;
        position: relative;
        display: block;
        }

    .media-nav_lnk {
        background: transparent;
        border-color: transparent;
        margin-right: 15px;
        color: @nav-color;
        padding: 0;
        text-decoration: none;

        .transition(color 200ms ease-in);

            &:hover {
                background: transparent;
                border-color: transparent;
                color: @header-gold;
                }
        }

    .active .media-nav_lnk {
        background-color: transparent;
        border-bottom-color: #ff8c0f;
        border-width: 0 0 4px 0;
        border-style: solid;
        color: white;
        }
    }

.media-gallery {

    .tab-content > .tab-pane {
        display: block;
        opacity: 0;
        visibility: hidden;
        height: 0;

        &.active {
            opacity: 1;
            visibility: visible;
            height: auto;
            }
        }

}

.galleria-component {
    display: none;
    }

.galleria-container {
    position: relative;
    overflow: hidden;
    }

.galleria-container img {
    -moz-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
    }

.galleria-stage {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 95px;
    overflow: hidden;
    }

.fullscreen .galleria-stage {
    bottom:0;
    top:0;
    }

.galleria-thumbnails-container {
    height: 75px;
    top: 10px;
    position: absolute;
    left: 60px;
    right: 10px;
    z-index: 2;
    }

.fullscreen .galleria-carousel .galleria-thumbnails-list { width:96.5%; }

.galleria-thumbnails .galleria-image {
    background: #000;
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 75px;
    margin-right: 4px;
    float: left;
    cursor: pointer;

    .transition(opacity 250ms ease-out);
    }

.fullscreen .galleria-thumbnails .galleria-image {
    margin-right:8px;
    }

.galleria-thumbnails .galleria-image .meta-data {
    background: black;
    padding-top: 10px;
    opacity: 0;
    text-align: center;
    font-size: @font-size-small;

    .square(100%);
    }

.galleria-thumbnails .galleria-image.hover .meta-data {
    opacity:0.85 !important;
    .transition(opacity 250ms ease-out);
    }

.galleria-thumbnails .galleria-image .meta-data span {
    display:block;
    }
.galleria-thumbnails .galleria-image .meta-data .game-title {
    color: lighten(@gall-color, 40%);
    font-weight: bold;
    }

.galleria-thumbnails .galleria-image img,
.galleria-thumbnails .galleria-image .meta-data {
    position: absolute;
    top: 0;
    left: 0;
    .transition(all 250ms ease-out);
    }

.galleria-thumbnails .galleria-image.hover img {
    opacity:1.0 !important;
    }

.galleria-thumbnails .galleria-image.active img {
    opacity:1.0 !important;
    border:1px solid @header-gold;
    }

.galleria-counter {
    position:absolute;
    top:15px;
    right:10px;
    text-align:right;
    z-index:1;
    }

.fullscreen .galleria-counter {
    top:50px;
    }

.galleria-loader {
    position:absolute;
    top:8px;
    left:10px;
    z-index:2;
    display:none;
    background:transparent url('@{rootimg-path}/preloader.gif') no-repeat 2px 2px;

    .square(24px);
    }
.galleria-info {
    background: @gall_info;
    border-top: 1px solid desaturate(lighten(@gall_info, 14%), 30%);
    position: absolute;
    left: 0px;
    bottom: 95px;
    width: 100%;
    z-index: 2;
    }
.no-data .galleria-info {
    visibility:hidden;
    }
.galleria-info.hide {
    height:0;border-top:0;transition:height .5s ease-in-out;-moz-transition:height .5s ease-in-out;-webkit-transition:height .5s ease-in-out;
    }
.fullscreen.fullscreen-idle .galleria-info {
    opacity:0;transition:opacity .25s ease-in-out;-moz-transition:opacity .25s ease-in-out;-webkit-transition:opacity .25s ease-in-out;
    }
.galleria-info-text {
    padding:12px;display:none;zoom:1;
    }
.galleria-info-title {
    color: @header-gold;
    font-size: 17px; 
    text-transform: uppercase;
    }
.galleria-info-description {
    margin:0;
    font-size:12px;
    }
.galleria-info-close {
    width:9px;height:9px;position:absolute;top:5px;right:5px;background-position:-753px -11px;opacity:.5;filter:alpha(opacity=50);cursor:pointer;display:none;
    }
.notouch .galleria-info-close:hover {
    opacity:1;
    filter:alpha(opacity=100);
    }
.touch .galleria-info-close:active {
    opacity:1;
    filter:alpha(opacity=100);
    }
.galleria-info-link {
    background-color:#000;
    background-position:-669px -5px;
    opacity:.7;
    filter:alpha(opacity=70);
    position:absolute;
    width:20px;
    height:20px;
    cursor:pointer;
    }
.notouch .galleria-info-link:hover {
    filter:alpha(opacity=100);
    opacity:1;
    }
.touch .galleria-info-link:active {
    opacity:1;
    filter:alpha(opacity=100);
    }
.galleria-image-nav {
    position:absolute;
    top:50%;
    margin-top:-62px;
    width:100%;
    height:62px;
    left:0;
    }
.fullscreen-idle .galleria-image-nav { display:none; }
.galleria-image-nav-left,.galleria-image-nav-right {
    background-position:0 0;
    opacity:.75;
    filter:alpha(opacity=75);
    cursor:pointer;
    width:62px;
    height:30px;
    position:absolute;
    left:10px;
    z-index:2;
    }

.galleria-image-nav-right {
    background-position:-254px 0;
    left:auto;
    right:10px;
    z-index:2;
    }
.notouch .galleria-image-nav-left:hover,.touch .galleria-image-nav-left:active { background-position:0 -30px; }
.notouch .galleria-image-nav-right:hover,.touch .galleria-image-nav-right:active { background-position:-254px -30px; }
.galleria-thumb-nav-left,.galleria-thumb-nav-right {
    background:url(http://eaassets-a.akamaihd.net/prod.titanfall.com/sites/all/themes/titanfall/img/galleria/tf-mg-icons.png?v=1409781791) no-repeat -312px -4px;
    display:none;
    position:absolute;
    top:30px;
    left:6px;
    width:18px;
    height:17px;
    z-index:3;
    cursor:pointer;
    }
.galleria-thumb-nav-right { background-position:-329px -4px !important;right:7px;left:auto; }
.galleria-thumb-nav-left:hover { background-position:-312px -99px !important; }
.galleria-thumb-nav-right:hover { background-position:-328px -99px !important; }
.galleria-thumbnails-container .disabled { cursor:default; }
.galleria-thumbnails-container .galleria-thumb-nav-left.disabled,
.galleria-thumbnails-container .galleria-thumb-nav-left.disabled:hover { background-position:-312px -20px !important; }
.galleria-thumbnails-container .galleria-thumb-nav-right.disabled,
.galleria-thumbnails-container .galleria-thumb-nav-right.disabled:hover { background-position:-329px -20px !important;
    }
.galleria-carousel .galleria-thumb-nav-left,.galleria-carousel .galleria-thumb-nav-right {
    display:block;
    }
.galleria-info-link,.galleria-info-close,.galleria-image-nav-left,.galleria-image-nav-right {
    background-image:url(http://eaassets-a.akamaihd.net/prod.titanfall.com/sites/all/themes/titanfall/img/galleria/classic-map.png?v=1409781791);
    background-repeat:no-repeat;
    }
#galleria-controls {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:40px;
    background: @gall-color;
    z-index:2;
    border-top:1px solid lighten(@gall-color, 6%);
    }
.fullscreen.fullscreen-idle #galleria-controls {
    top:-41px;

    .transition(top 750ms);
    }

.type li a:hover {
    -webkit-transition:all 0s ease-in-out;-moz-transition:all 0s ease-in-out;-o-transition:all 0s ease-in-out;transition:all 0s ease-in-out;
    }

.type .videos a {
    background-position:-42px -2px;
    width:45px;
    height:30px;
    }

.type .videos a:hover { background-position:-41px -97px !important; }
.type .videos.active a { background-position:-41px -49px; }
.type .weapons a {
    display:none;
    width:45px;
    height:30px;
    background-position:-88px -2px;
    }

.type .weapons a:hover,.type .weapons.active a { background-position:-86px -49px; }
.functions { float:right; }
.functions li {
    float:left;
    list-style:none;
    margin-right:5px;
    padding:5px;
    cursor:pointer;
    }

.functions li span {
    background:url('@{rootimg-path}/gicon.png') no-repeat -5px 2px;
    display:inline-block;
    text-indent:-99999px;
    }

.functions .play span {
    width:24px;
    height:30px;
    background-position: 1px 3px;
    }
.functions .play:hover span { background-position: 0 -92px; }
.functions .play.active span { background-position: -220px 4px; }
.functions .play.active:hover span { background-position: -220px -93px; }

.functions .download .title {
    background-position: -24px 3px;
    .square(30px);
    }

.functions .download:hover .title { background-position: -24px -92px; }

.functions .fullscreen span {
    background-position:-56px 2px;
    .square(30px);
    }

.functions .fullscreen:hover span { background-position:-56px -93px; }
.functions .fullscreen.active span { background-position:-255px 4px; }
.functions .fullscreen.active:hover span { background-position:-255px -93px; }
#gallery-dl-list {
    border-top: 1px solid rgba(153, 153, 153, 0.5);
    background: lighten(@gall-color, 20%);
    position: absolute;
    top: 39px;
    right: 35px;
    z-index: 3;
    height: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;

    .transition(all 300ms ease-in);

        &.open {
            visibility: visible;
            height: 109px;
        }
    }

#galleria-controls .download ul li {
    float: none;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    }

#gallery-dl-list a {
    display: block;
    padding: 5px 10px;
    color: darken(@gray-lighter, 5%);
    font-size: @font-size-small;

    .transition(~'background 500ms ease-in-out, color 500ms ease-in-out')
    }

#galleria-controls .download ul li a span {
    background: none;
    text-indent: 0;
    text-shadow: 0 0 1px darken(@navbar-toolbar-bg, 50%);

    .square(auto);
    }

#galleria-controls .download ul li a:hover {
    color: @gray-darker;
    background: @gray-lighter;
    }

#galleria-view-container {
    background: @gall-color;
    border-top: 1px solid darken(@gall-color, 12%);
    width: 100%;
    height: 95px;
    position: absolute;
    top: 574px;
    left: 0;
    bottom: 0;
    opacity: 1;
    z-index: 3;

    .box-shadow(inset 0 1px 2px darken(@gall-color, 12%));
    .transition(~'top 600ms ease-out,height 600ms ease-out');

        @media (max-width: @screen-xs-max) {
            display:none;
            }
    }

#galleria-view-container .count {
    display:none;
    position:absolute;
    top:10px;
    right:10px;
    opacity:.4;
    }
#galleria-view-container.multi .count {
    display:block;
    }

#galleria-view-container.fullscreen-exit {
    .transition(none);
    }

#galleria-view-container.fullscreen {
    top:auto;
    bottom:0;
    .transition(none);
    }

.fullscreen.fullscreen-idle #galleria-view-container.fullscreen {
    height:0;
    .transition(height 750ms ease-in);
    }

#galleria-view-container.fullscreen .galleria-thumbnails-container { left:10px !important; }

#galleria-view-container.fullscreen #galleria-view-trigger { display:none !important; }
#galleria-view-container.open {
    top:40px;
    height:643px;
    }

#galleria-view-container.open .galleria-thumbnails-container {
    top:30px;
    left:0;
    }

#galleria-view-container.open .galleria-thumbnails {
    overflow:visible !important;
    left:10px !important;
    width:auto !important;
    .transition(overflow 100ms);
    }

#galleria-view-container.open .galleria-thumb-nav-left,#galleria-view-container.open .galleria-thumb-nav-right { display: none !important; }
#galleria-view-container.open .galleria-thumbnails-list { margin-left: 50px; }
#galleria-view-container.open .galleria-image { margin: 0 20px 20px 0 !important; }
#galleria-view-trigger {
    display:none;
    background:url('@{rootimg-path}/gicon.png') no-repeat -90px 4px;
    position:absolute;
    top:28px;
    left:10px;
    width:40px;
    height:39px;
    cursor: pointer;
    }

#galleria-view-trigger:hover { background-position: -90px -92px; }
#galleria-view-container.open #galleria-view-trigger {
    background-position: -135px 4px;
    top: 26px;
    z-index: 3;
    }

#galleria-view-container.open #galleria-view-trigger:hover {
    background-position: -135px -92px;
    }

#slideshow-indicator-container {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;

    .transition(height 250ms ease-in);

        &.playing {
            height: 5px;
        }
    }

.fullscreen-idle #slideshow-indicator-container {
    opacity: 0;
    .transition(opacity .25s ease-in-out);
    }
#slideshow-indicator-bg {
    background: #99ccff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    opacity: 0.3;
    }
#slideshow-indicator {
    background: #99ccff;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    opacity: 0.6;
    }