.modal-dialog {
	margin:0;
	.square(100%);
	}

.modal-content {
	background: black;
	height: 100%;
	.border-radius(0);
	}

.modal-header {
	position: relative;
	z-index: 10;
	border-bottom: 0;

	.close {
		background: transparent;
		color: @gray-lighter;
		position: absolute;
		right: 15px;
		top: -4px;
		font-weight: bold;
		font-size: 35px;
		border: 0;
		}
	}

.modal_trailer_video {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	border: 0;
	.square(100%);
	}