@navbar-toolbar-bg: rgba(22, 113, 213, 0.6);

.front-page #primary-nav { padding-top: 0; }

#primary-nav {
    margin-bottom: 0;
    padding-top: 28px;
    border: 0;
    }

.navbar-nav { margin: 0; }

.navbar-collapse {
    background: @navbar-toolbar-bg;
    height: 0;
    visibility: hidden;
    overflow: hidden;

     @media (max-width: @screen-xs-max) {
      padding: 0;
     }

    .transition(~'height 500ms ease-out, visibility 500ms ease-out');

.navbar_i {
  opacity: 0;

  .transition(opacity 400ms ease-out);
    a {
      color: @gray-lighter;
      font-size: @font-size-large;
      text-shadow: 1px 1px 2px darken(@navbar-toolbar-bg, 50%);
      text-indent: 5px;

      .transition(~'background 200ms ease-in-out, color 400ms ease-out');

        &:focus,
        &:hover {
          background: transparent;
          color: darken(saturate(@color-link-hover, 80%), 10%);
          }
      }

    &.active a,
    &.active a:hover {
          background: @navbar-toolbar-bg;
          color: inherit;
          cursor: default;

          .border-radius(2px 2px 0 0);
          }

    .header_gold {
      color: @header-gold;
      font-family: @basefont-black;
      }

    }

       
        &.collapse .navbar_i {
          @media (min-width: @screen-sm-min) {
            opacity: 1; 
            }
          .transition(opacity 400ms ease-in);
    }
  }

.navbar-collapse.open {
    height: 202px;
    visibility: visible;

    .transition(~'height 400ms ease-out, visibility 400ms ease-out');

      a:hover { background: lighten(@navbar-toolbar-bg, 5%); }

      .navbar_i { opacity: 1; }

    }

.navbar-toggle {
  background: @navbar-toolbar-bg;
  border: 1px solid @navbar-toolbar-bg;
  transition: background 500ms ease-in-out;
  padding: 8px;
  margin-bottom: 7px;
  margin-top: 10px;
  
  .box-shadow(0 0 1px darken(@navbar-toolbar-bg, 40%) inset);

  .icon-bar { background: @gray-lighter; }
    }

.navbar-toggle:hover,
.navbar-toggle.hovered { background: lighten(@navbar-toolbar-bg, 10%); }
.navbar-toggle:active {
    .box-shadow(0 1px 1px darken(@navbar-toolbar-bg, 30%) inset);
    }

#socLinks {
    position: relative;
    top: 0;
    }

.socMenu {
  
  .socMenu_i {
    background: url('@{rootimg-path}/social.png') no-repeat;
    display: inline-block;
    margin-left: 3px;
    position: relative;
    border: 1px solid darken(@navbar-toolbar-bg, 10%);

    .square(34px);
    .border-radius(50%);
    .transition(all 400ms ease-in-out);
  }
  .socMenu_i:hover { background: url('@{rootimg-path}/social_h.png') no-repeat; }
  .socMenu_i:active {
    border: 1px solid darken(@navbar-toolbar-bg, 20%);
    .box-shadow(0 0 0);
  }
  .__tw,
  .__tw:hover { background-position: -39px 0; }
  .__fc,
  .__fc:hover { background-position: -77px 0; }
}